@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.shadow-glow {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #1e40af, #3b82f6);
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #1e3a8a, #2563eb);
}

/* Hide the arrows/buttons */
::-webkit-scrollbar-button {
  display: none;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #004fcf #f1f1f1;
}

/* Corner */
::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

::-webkit-scrollbar-button {
  display: none;
}

@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes float-delayed {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

@keyframes scrollUp {
  from { transform: translateY(0); }
  to { transform: translateY(-50%); }
}

@keyframes scrollDown {
  from { transform: translateY(-50%); }
  to { transform: translateY(0); }
}

@keyframes scrollUpFast {
  from { transform: translateY(0); }
  to { transform: translateY(-50%); }
}

.animate-scrollUp {
  animation: scrollUp 35s linear infinite;
}

.animate-scrollDown {
  animation: scrollDown 40s linear infinite;
}

.animate-scrollUpFast {
  animation: scrollUpFast 30s linear infinite;
}

html {
  scroll-behavior: smooth;
}